#search h1 {
    font-size: 24px;
    text-align: center;
}

#search .search-box {
    margin-bottom: 15px;
    width: 445px;
    display: inline;
}

#search button {
    margin-top: -3px;
}

#search .results {
    padding-left: 0px;
}

#search .result {
    list-style-type: none;
    border-top: 1px solid #E1DADA;
}

#search .result:last-child {
    border-bottom: 1px solid #E1DADA;
}

#search .result .title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

#search .result .subtitle {
    font-size: 12px;
    margin-bottom: 0px;
}

#search .result .subtitle label:nth-child(odd) {
    color: blue;
}

#search .result .description {
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#search .result .download-button {
    float: right;
    margin-top: 10px;
}

#search .result .download-button i {
    margin-right: 5px;
}

#search .result:not(:hover) .download-button {
    display: none;
}